
<div class="column">
    <nav class="panel">
        <p class="panel-heading"> Who to Follow</p>
    </nav>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                    </figure>
                </div>
                    <div class="media-content">
                        <div class="content">
                        <p>
                            <strong>Little Billie</strong>
                            <small> @billiegoat </small>
                        </p>
                        </div>
                    </div>
            </article>
        </div>
             <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                    </figure>
                </div>
                    <div class="media-content">
                        <div class="content">
                        <p>
                            <strong>Emily Smith</strong>
                            <small> @coderemily </small>
                        </p>
                        </div>
                    </div>
            </article>
        </div>
                 <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                    </figure>
                </div>
                    <div class="media-content">
                        <div class="content">
                        <p>
                            <strong>Gill Bates</strong>
                            <small> @macrosoft </small>
                        </p>
                        </div>
                    </div>
            </article>
        </div>




</div>